.resumo__container {
    cursor: pointer;
    width: 280px;
    height: 150px;
    padding: 0.8rem;
    border-radius: 15px;
    color: #fff;
    background-color: red;
    box-shadow: 1px 1px 10px 1px rgba(135, 135, 135, 0.75);
}

.resumo__title {
    font-size: 1.2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    font-size: 2.5rem;
    font-weight: 600;
    height: 105px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.resumo__container:hover {
    opacity: 0.8;
}