@use '../../../../../variables';

.menu__container {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

button {
    width: 90%;
    padding: 0.8rem 1.05rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: variables.$black_color;
    background-color: variables.$gray_color;
    border: none;
    border-radius: 1.1rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

button:hover {
    color: variables.$white_color;
    background-color: variables.$orange_color;
}