<div class="menu__container">
    <button routerLink="/app-finances/visao-geral" routerLinkActive="ativa">
        <span class="material-symbols-outlined">home</span>
        <p>Visão Geral</p>
    </button>
    <button routerLink="/app-finances/receitas" routerLinkActive="ativa">
        <span class="material-symbols-outlined">trending_up</span>
        <p>Receitas</p>
    </button>
    <button routerLink="/app-finances/despesas" routerLinkActive="ativa">
        <span class="material-symbols-outlined">trending_down</span>
        <p>Despesas</p>
    </button>
    <button routerLink="/app-finances/conta" routerLinkActive="ativa">
        <span class="material-symbols-outlined">person</span>
        <p>Conta</p>
    </button>
</div>