<div class="menu__container">
    <button [routerLink]="['/resumo']">
        <span class="material-symbols-outlined">home</span>
        <p>Visão Geral</p>
    </button>
    <button [routerLink]="['/receitas']">
        <span class="material-symbols-outlined">trending_up</span>
        <p>Receitas</p>
    </button>
    <button [routerLink]="['/despesas']">
        <span class="material-symbols-outlined">trending_down</span>
        <p>Despesas</p>
    </button>
    <button [routerLink]="['/conta']">
        <span class="material-symbols-outlined">person</span>
        <p>Conta</p>
    </button>
</div>