<div class="container">
    <app-add-despesa-form
        tituloPagina="Editar despesa"
        textButton="Editar"
        [formData]="formData"
        [formValor]="formValor"
        [formCategoryId]="formCategoryId"
        [formEParcelada]="formEParcelada"
        [formQtnParcelas]="formQtnParcelas"
        [formNomeCategoriaDespesa]="formNomeCategoriaDespesa"
        [listaCategoria]="listaCategoria"
        [estaValidoFormularioDespesa]="estaValidoFormularioDespesa()"
        [estaValidoFormularioCategoria]="estaValidoFormularioCategoria()"
        (inserirCategoriaOutput)="insertCategoriaDespesa()"
        (inserirOutput)="updateDespesa()"
    ></app-add-despesa-form>
</div>