@use '../../../../variables';

.add__despesa {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-movimentacao__container {
    width: 580px;
    padding: 15px;
    border-radius: 12px;
    background-color: variables.$gray_color;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
}

h4 {
    text-align: center;
    margin-bottom: 5px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 250px;
    margin: 10px 0;
}

.categoria {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#bloco-cat {
    margin-top: 20px;
    border: 1px solid variables.$orange_color;
    padding: 8px;
    border-radius: 10px;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-categoria {
    width: 36px;
    height: 36px;
    border: 1px solid variables.$black_color;
    border-radius: 10px;
    background-color: variables.$gray_color;
    color: variables.$black_color;
    font-weight: 400;
    font-size: 16px;
    padding: 3px 9px;
}

p {
    margin-bottom: 5px;
}

input, select {
    border: 1px solid variables.$black_color;
    background-color: variables.$gray_color;
    border-radius: 10px;
    padding: 8px 15px;
    width: 100%;
}

input:focus, select:focus {
    border: 1px solid variables.$orange_color;
    outline: 0;
}

img {
    width: 250px;
}

button {
    cursor: pointer;
}

.adicionar {
    border: 2px solid variables.$orange_color;
    border-radius: 12px;
    background-color: variables.$orange_color;
    color: variables.$black_color;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 24px;
    margin-top: 20px;  
}

.adicionar:hover {
    border: 2px solid variables.$black_color;
    background-color: variables.$gray_color;
}

#add-categoria-btn {
    border: 1px solid variables.$orange_color;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    padding: 3px 12px;
    margin-top: 10px;
    align-items: center;
}

#add-categoria-btn:hover {
    border: 1px solid variables.$black_color;
}


.btn-sim, .btn-nao {
    border: 1px solid variables.$black_color;
    border-radius: 6px;
    background-color: variables.$gray_color;
    color: variables.$black_color;
    font-weight: 400;
    font-size: 13px;
    padding: 3px 9px;
    margin: 0 5px;
}

.btn-sim:hover, .btn-nao:hover {
    border: 1px solid variables.$orange_color;
    color: variables.$orange_color;
}

.btn-selected {
    border: 1px solid variables.$orange_color;
    color: variables.$orange_color;
}

.e-parcelada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nao-mostrar {
    display: none;
}