<div class="despesas__container">
    <app-nav-lateral></app-nav-lateral>
    <div class="despesas__conteudo">
        <app-header titulo="Despesas"></app-header>
        <div class="conteudo__interno">
            <div class="interno__esquerda">
                <app-total-receita-despesa [total]="0" [cor]="cor"></app-total-receita-despesa>
                <app-ultimas-mov [listaMovimentacao]="despesas" [cor]="cor" titulo="Últimas despesas"></app-ultimas-mov>
            </div>
            <div class="interno__direita">
                <app-btn-add-movimentacao nomeBtn="Despesa"></app-btn-add-movimentacao>
                <div class="direita__interno">
                    <app-total-por-categoria titulo="Por categoria" [listaCategoria]="totalPorCategoriaDespesa" [cor]="cor"></app-total-por-categoria>
                    <app-total-ultimos-meses titulo="Últimos meses" [cor]="cor"></app-total-ultimos-meses>
                </div>
            </div>
        </div>
    </div>
</div>
