<div class="despesas__container">
    <app-header text="Despesas"></app-header>
    <app-buscar></app-buscar>
    <div class="despesas__conteudo">
        <div class="ultimas-despesas">
            <h1>Últimas depesas</h1>
            <div class="despesa" *ngFor="let despesa of despesas">
                <app-ultimas-mov 
                [data]="despesa.data" 
                [categoria]="despesa.categoriaDespesa.nome" 
                [valor]="despesa.valor"
                cor="#CB1414"
                ></app-ultimas-mov>
            </div>
        </div>
        <div class="direita">
            <div class="total-por-categoria">
                <h1>Total por categoria</h1>
                <div class="categoria" *ngFor="let categoria of totalPorCategoriaDespesa">
                    <app-por-categoria 
                    [nome]="categoria.nome"
                    [total]="categoria.total"
                    cor="#CB1414"
                    ></app-por-categoria>
                </div>
            </div>
        </div>
    </div>
</div>