<div class="receitas__container">
    <app-header text="Receitas"></app-header>
    <app-buscar></app-buscar>
    <div class="receitas__conteudo">
        <div class="ultimas-receitas">
            <h1>Últimas receitas</h1>
            <div class="receita" *ngFor="let receita of receitas">
                <app-ultimas-mov 
                [data]="receita.data" 
                [categoria]="receita.categoriaReceita.nome" 
                [valor]="receita.valor"
                cor="#06894A"
                ></app-ultimas-mov>
            </div>
        </div>
        <div class="direita">
            <div class="total-por-categoria">
                <h1>Total por categoria</h1>
                <div class="categoria" *ngFor="let categoria of totalPorCategoriaReceita">
                    <app-por-categoria 
                    [nome]="categoria.nome"
                    [total]="categoria.total"
                    cor="#06894A"
                    ></app-por-categoria>
                </div>
            </div>
        </div>
    </div>
</div>