<div class="form-conta__container">
    <h1>Sua conta</h1>
    <div class="conteudo__form-conta">
        <div class="direita__conteudo">
            <div class="input">
                <p>Nome<span class="obrigatorio">*</span></p>
                <div class="erro" *ngIf="formNome.invalid && formNome.touched">
                    <p class="erro-mensagem" *ngIf="formNome.hasError('required')">Este campo é obrigatório.</p>
                    <p class="erro-mensagem" *ngIf="formNome.hasError('nullValidator')">Este campo é obrigatório.</p>
                </div>
                <input type="text" name="nome" required [formControl]="formNome">
            </div>
            <div class="input">
                <p>Sobrenome<span class="obrigatorio">*</span></p>
                <div class="erro" *ngIf="formSobrenome.invalid && formSobrenome.touched">
                    <p class="erro-mensagem" *ngIf="formSobrenome.hasError('required')">Este campo é obrigatório.</p>
                    <p class="erro-mensagem" *ngIf="formSobrenome.hasError('nullValidator')">Este campo é obrigatório.</p>
                </div>
                <input type="text" name="sobrenome" required [formControl]="formSobrenome">
            </div>
            <div class="input">
                <p>E-mail<span class="obrigatorio">*</span></p>
                <div class="erro" *ngIf="formEmail.invalid && formEmail.touched">
                    <p class="erro-mensagem" *ngIf="formEmail.hasError('required')">Este campo é obrigatório.</p>
                    <p class="erro-mensagem" *ngIf="formEmail.hasError('nullValidator')">Este campo é obrigatório.</p>
                    <p class="erro-mensagem" *ngIf="formEmail.hasError('email')">Digite um email válido</p>
                </div>
                <input type="email" name="email" required [formControl]="formEmail">
            </div>
        </div>
        <div class="esquerda__conteudo" [formGroup]="formGroup">
            <div class="input">
                <p>Nova senha<span class="obrigatorio">*</span></p>
                <input type="password" name="senha" required formControlName="formSenha"  placeholder="Digite sua nova senha"> 
            </div>
            <div class="input">
                <p>Repita a senha<span class="obrigatorio">*</span></p>
                <input type="password" name="novasenha" required formControlName="formNovaSenha" placeholder="Repita a senha">
                <div class="erro" *ngIf="formGroup.touched">
                    <p class="erro-mensagem" *ngIf="formGroup.get('formSenha')?.errors?.['required'] || formGroup.get('formNovaSenha')?.errors?.['required'] ">Este campo é obrigatório.</p>
                    <p class="erro-mensagem" *ngIf="formGroup.get('formSenha')?.errors?.['minlength'] || formGroup.get('formNovaSenha')?.errors?.['minlength']">Deve ter pelo menos 6 caracteres</p>
                    <p class="erro-mensagem" *ngIf="formGroup.errors?.['senhasDiferentes']">As senhas não são iguais.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="enviar">
        <button 
        [ngClass]="{'invalido': estaValidoFormularioConta == false}" 
        [disabled]="!estaValidoFormularioConta"
        (click)="atualizar()"
        >Alterar dados</button>
    </div>
</div>