<div class="form-conta__container">
    <h1>Sua conta</h1>
    <div class="conteudo__form-conta">
        <div class="direita__conteudo">
            <div class="input">
                <p>Nome</p>
                <input type="text" name="nome" required>
            </div>
            <div class="input">
                <p>Sobrenome</p>
                <input type="text" name="sobrenome" required>
            </div>
            <div class="input">
                <p>Foto perfil</p>
                <input type="file" name="foto" class="foto-perfil">
            </div>
        </div>
        <div class="esquerda__conteudo">
            <div class="input">
                <p>E-mail</p>
                <input type="text" name="email" required>
            </div>
            <div class="input">
                <p>Senha</p>
                <input type="text" name="senha" required>
            </div>
            <div class="input">
                <p>Nova senha</p>
                <input type="text" name="novasenha" required>
            </div>
        </div>
    </div>
    <div class="enviar">
        <button>Alterar dados</button>
    </div>
</div>