@use '../../../../variables';

.form-conta__container {
    margin: 10vh auto;
    width: 580px;
    padding: 15px;
    border-radius: 12px;
    background-color: variables.$gray_color; 
}

h1 {
    font-size: 24px;
}

.conteudo__form-conta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    margin: 13px 0px;
}

p {
    margin-bottom: 5px;
}

input {
    border: 1px solid variables.$black_color;
    background-color: variables.$gray_color;
    border-radius: 10px;
    padding: 8px 15px;
    width: 250px;
}

input:focus {
    border: 1px solid variables.$orange_color;
    outline: 0;
}

.erro-mensagem {
    font-size: 13px;
    color: red;
}

button {
    border: 2px solid variables.$orange_color;
    border-radius: 12px;
    background-color: variables.$orange_color;
    color: variables.$black_color;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 24px;
    margin: 0 auto;
    cursor: pointer;
}

button:hover {
    border: 2px solid variables.$black_color;
    background-color: variables.$gray_color;
}

.enviar {
    margin-top: 15px;

    display:flex;
    align-items: center;
}

.obrigatorio {
    font-size: 16px;
    color: red;
}

.invalido {
    cursor: not-allowed; 
    border: 2px solid variables.$black_color;
    background-color: variables.$gray_color;
}