@use '../../../../variables';

.receitas__container {
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rota {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

