<div class="ultimas-mov__container">
    <h1>Últimas despesas</h1>
    <div class="movimentacao" *ngFor="let parcela of lista.content">
        <div class="principal" >
            <div class="esquerda">
                <span>{{ parcela.despesa.categoriaDespesa.nome }}</span>
                <div class="parcela">
                    <p>{{ parcela.vencimentoParcela}}</p>
                    <p>|</p>
                    <p class="parcela-nome">{{parcela.nomeParcela }}</p>
                </div>
            </div>
            <div class="direita">
                <h2 [style.color]="cor">R$ {{ parcela.valorParcela | number:'2.2-2':'pt' }}</h2>
            </div>
        </div>
        <div class="edit-delete">
            <span class="material-symbols-outlined" id="edit" [routerLink]="['/app-finances/despesas/edit-despesa', parcela.id]">edit</span>
            <span class="material-symbols-outlined" id="delete" (click)="delete(parcela.id)">delete</span>
        </div>
    </div>
    <div class="pages">
        <div>
            <span (click)="backPageImp()" class="material-symbols-outlined" [ngClass]="{'active': lista.number > 0}">arrow_back_ios</span>
            <span (click)="nextPageImp()" class="material-symbols-outlined" [ngClass]="{'active': lista.number < lista.totalPages - 1}">arrow_forward_ios</span>
        </div>
    </div>
</div>