<div class="add-movimentacao__container">
    <h1>{{ titulo }}</h1>
    <div class="form">
        <div class="esquerda">
            <div class="input">
                <p>Data<span class="obrigatorio">*</span></p>
                <div class="erro" *ngIf="formData.invalid && formData.touched">
                    <p class="erro-mensagem" *ngIf="formData.hasError('required')">Este campo é obrigatório.</p>
                </div>
                <input type="date" name="data" [formControl]="formData">
            </div>
            <div class="input">
                <p>Valor<span class="obrigatorio">*</span></p>
                <div class="erro" *ngIf="formValor.invalid && formValor.touched">
                    <p class="erro-mensagem" *ngIf="formValor.hasError('required')">Este campo é obrigatório.</p>
                </div>
                <input 
                    type="text" 
                    name="valor" 
                    placeholder="Digite o valor" 
                    currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false, align: 'left' }"
                    [formControl]="formValor"
                >
            </div>
            <div class="input-cat">
                <p>Categoria<span class="obrigatorio">*</span></p>
                <div class="erro" *ngIf="formCategoryId.invalid && formCategoryId.touched">
                    <p class="erro-mensagem" *ngIf="formCategoryId.hasError('required')">Este campo é obrigatório.</p>
                </div>
                <div class="categoria">
                    <select name="categoria" [formControl]="formCategoryId">
                        <option 
                        *ngFor="let categoria of listaCategoria" 
                        [value]="categoria.id"
                        >{{ categoria.nome }}</option>
                    </select>
                    <button 
                    class="material-symbols-outlined" 
                    id="add-categoria" 
                    (click)="addCategoriaBtn()" 
                    >{{icon}}</button>
                </div>
                <div class="input" id="bloco-cat" [ngClass]="{'nao-mostrar': status == false}">
                    <h4>Nova categoria</h4>
                    <p>Nome da categoria<span class="obrigatorio">*</span></p>
                    <div class="erro" *ngIf="formNomeCategoriaReceita.invalid && formNomeCategoriaReceita.touched">
                        <p class="erro-mensagem" *ngIf="formNomeCategoriaReceita.hasError('required')">Este campo é obrigatório.</p>
                    </div>
                    <input 
                        type="text" 
                        name="data" 
                        [formControl]="formNomeCategoriaReceita" 
                        placeholder="Digite o nome da categoria"
                    >
                    <div class="btn-center">
                        <button 
                            class="adicionar" 
                            id="add-categoria-btn" 
                            [ngClass]="{'invalido': estaValidoFormularioCategoria == false}"
                            [disabled]="!estaValidoFormularioCategoria" 
                            (click)="inserirCategoria()"
                        >Adicionar categoria</button>
                    </div>
                </div>
            </div>
            <button 
                class="adicionar" 
                [ngClass]="{'invalido': estaValidoFormularioReceita == false}" 
                [disabled]="!estaValidoFormularioReceita"
                (click)="inserirMovimentacao()"
            >{{ textButton }}</button>
        </div>
        <div class="direita">
            <img [src]="localizacaoImagem">
        </div>
    </div>
</div>