<div class="add-movimentacao__container">
    <h1>{{ titulo }}</h1>
    <div class="form">
        <div class="esquerda">
            <div class="input">
                <p>Data</p>
                <input type="date" name="data" required [formControl]="formData">
            </div>
            <div class="input">
                <p>Valor</p>
                <input 
                    type="text" 
                    name="valor" 
                    placeholder="Digite o valor" 
                    currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false, align: 'left' }"
                    [formControl]="formValor"
                >
            </div>
            <div class="input">
                <p>Categoria</p>
                <select name="categoria" [formControl]="formCategoryId">
                    <option 
                        *ngFor="let categoria of listaCategorias" 
                        [value]="categoria.id"
                    >{{ categoria.nome }}</option>
                </select>
            </div>
            <button (click)="inserirImp()">{{ textButton }}</button>
        </div>
        <div class="direita">
            <img [src]="localizacaoImagem">
        </div>
    </div>
</div>