@use '../../../../../variables';

h1 {
    color: variables.$white_color;
}

img {
    border-radius: 50%;
}

.nav-lateral__container {
    min-width: 300;
    width: 320px;
    height: 100vh;
    background-color: variables.$white_color;
    border-right: 1px solid variables.$gray_color;
    //box-shadow: 0px 0px 10px 1px rgba(135, 135, 135, 0.75);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-lateral__logo {
    height: 20vh;
    background-color: variables.$black_color;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}