<div class="edit__receita">
    <app-add-movimentacao
        [titulo]="tituloPagina"
        [textButton]="textButton"
        localizacaoImagem="assets/pig-green.png"
        [listaCategoria]="listaCategoria"
        [formCategoryId]="formCategoryId"
        [formData]="formData"
        [formValor]="formValor"
        [formNomeCategoriaReceita]="formNomeCategoriaReceita"
        [estaValidoFormularioReceita]="estaValidoFormularioReceita()"
        [estaValidoFormularioCategoria]="estaValidoFormularioCategoria()"
        (inserirOutput)="updateReceita()"
        (inserirCategoriaOutput)="insertCategoriaReceita()"
    ></app-add-movimentacao>
</div>