@use '../../../../variables';

.despesas__container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$white_color;
}

app-header {
    width: 100%;
}

.rota {
    width: 100%;
    height: 100vh;
}