@use '../../../../variables';

.ultimas-mov__container {
    width: 100%;
    height: 500px;
    padding: 15px;
    border-radius: 12px;
    background-color: variables.$gray_color;

    display: flex;
    flex-direction: column;
}

.lista {
    padding: 5px 0;
    border-bottom: 1px solid #000;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

span {
    font-size: 20px;
    font-weight: bold;
}

.pages {
    position: relative;

    display: flex;
    justify-content: center;
   
}

.pages div {
    position: fixed;
    bottom: 195px;
}

.pages span {
    color: variables.$black_color;
    font-size: 25px;
    margin: 0 20px;
    cursor: pointer;
}

.pages span.active {
    color: variables.$orange_color
}

.pages span:hover {
    opacity: 0.6;
}