<div class="add__receita">
    <app-add-movimentacao
        localizacaoImagem="assets/pig-green.png"
        [titulo]="tituloPagina"
        [textButton]="textButton"
        [listaCategoria]="listaCategoria"
        [formCategoryId]="formCategoryId"
        [formData]="formData"
        [formValor]="formValor"
        [formNomeCategoriaReceita]="formNomeCategoriaReceita"
        [estaValidoFormularioReceita]="estaValidoFormularioReceita()"
        [estaValidoFormularioCategoria]="estaValidoFormularioCategoria()"
        (inserirOutput)="insertReceita()"
        (inserirCategoriaOutput)="insertCategoriaReceita()"
    ></app-add-movimentacao>
</div>