@use '../../../../../variables';

.add__receita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-movimentacao__container {
    width: 580px;
    padding: 15px;
    border-radius: 12px;
    background-color: variables.$gray_color;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    margin: 13px 0;
}

p {
    margin-bottom: 5px;
}

input, select {
    border: 1px solid variables.$black_color;
    background-color: variables.$gray_color;
    border-radius: 10px;
    padding: 8px 15px;
    width: 250px;
}

input:focus, select:focus {
    border: 1px solid variables.$orange_color;
    outline: 0;
}

img {
    width: 250px;
}

button {
    border: 2px solid variables.$orange_color;
    border-radius: 12px;
    background-color: variables.$orange_color;
    color: variables.$black_color;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 24px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    border: 2px solid variables.$black_color;
    background-color: variables.$gray_color;
}