<main>
    <div class="home__container">
        <app-header></app-header>
        <div class="home__content">
            <div class="content__left">
                <div class="left__intern">
                    <div>
                        <h1>Finanças</h1>
                        <p>Conquiste seu equilíbrio financeiro com nossa calculadora!</p>
                    </div>
                    <a href="app-finances/visao-geral">
                        <app-button-home text="Começar"></app-button-home>
                    </a>
                </div>
            </div>
            <div class="content__right">
                <img src="assets/home-image.png" alt="Finanças" width="560" height="560">
            </div>
        </div>
    </div>
</main>