@use '../../../../variables';

.buscar__container {
    width: 950px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

form {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 1.1rem;
    background-color: variables.$gray_color;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

select {
    width: 30%;
    font-size: 1.4rem;
    background-color: variables.$gray_color;
    border: none;
    border-bottom: 1px solid #000;
}

select:focus {
    border-bottom: 1px solid variables.$orange_color;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

p {
    font-size: 1.4rem;
}

input { 
    padding: 0.5rem 1.4rem;
    border-radius: 0.9rem;
    font-weight: 500;
    outline: 0;
    cursor: pointer;
}

input[type="date"] {
    background-color: variables.$gray_color;
    border: 1px solid variables.$black_color;
    color: variables.$black_color;
}

input[type="reset"] {
    background-color: variables.$orange_color;
    border: 2px solid variables.$orange_color;
    color: variables.$white_color;
}

input:hover {
    background-color: variables.$gray_color;
    border: 1px solid variables.$orange_color;
    color: variables.$orange_color;
}