<div class="buscar__container">
    <h2>Filtrar:</h2>
    <form (submit)="onSubmit($event)">
        <select 
            name="categoria" 
            id="categoria" 
            [formControl]="formCategoryId" 
            (change)="onSubmit($event)">
            <option value="">Categoria</option>
            <option 
                *ngFor="let categoria of listaCategorias" 
                [value]="categoria.id"
            >{{ categoria.nome }}</option>
        </select>
        <div class="input">
            <p>De:</p>
            <input type="date" [formControl]="formDataDe" (change)="onSubmit($event)">
        </div>
        <div class="input">
            <p>Até:</p>
            <input type="date" [formControl]="formDataAte" (change)="onSubmit($event)">
        </div>
        <input type="reset" id="resetar" value="LIMPAR" (click)="resetFilters()">
    </form>
</div>