<div class="header__container">
    <a href="" class="header__logo">
       <img src="./assets/logo.png" alt="Logo" width="45" height="45" >
    </a>
    <div class="header__nav">
        <app-nav-bar-home title="Novidades"></app-nav-bar-home>
        <app-nav-bar-home title="Serviços"></app-nav-bar-home>
        <app-nav-bar-home title="Suporte"></app-nav-bar-home>
        <app-nav-bar-home title="Blog"></app-nav-bar-home>
    </div>
    <div class="header__login-register">
        <app-login-register></app-login-register>
    </div>
</div>