<div class="container">
    <app-add-despesa-form
        tituloPagina="Adicionar despesa"
        textButton="Adicionar"
        [formData]="formData"
        [formValor]="formValor"
        [formCategoryId]="formCategoryId"
        [formEParcelada]="formEParcelada"
        [formQtnParcelas]="formQtnParcelas"
        [formNomeCategoriaDespesa]="formNomeCategoriaDespesa"
        [listaCategoria]="listaCategoria"
        (inserirCategoriaOutput)="insertCategoriaDespesa()"
        (inserirOutput)="insertDespesa()"
    ></app-add-despesa-form>
</div>