@use '../../../../variables';

.btn-add-movimentacao__container {
    border: 2px solid variables.$orange_color;
    background-color: variables.$orange_color;
    color: variables.$white_color;
    padding: 0.8rem 1.5rem;
    border-radius: 1.2rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

span, p {
    font-size: 2.1rem;
    font-weight: bold;
}

.btn-add-movimentacao__container:hover {
    border: 2px solid variables.$orange_color;
    background-color: variables.$white_color;
    color: variables.$orange_color;
}
