@use '../../../../variables';

.btn-add-movimentacao__container {
    border: 2px solid variables.$orange_color;
    background-color: variables.$orange_color;
    color: variables.$white_color;
    padding: 10px 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

span, p {
    font-size: 24px;
    font-weight: bold;
}
